[package]
name = "app"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
argon2 = "0.5.3"
ctr = "0.9.2"
hmac = "0.12.1"
kanal = "0.1.1"
rand = "0.9.2"
rayon = "1.11.0"

